@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  width: 1055px;
  height: 65px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 180px;
  padding: 0;
  width: 390px;
  list-style-type: none;
}

.navigation-item {
  position: relative;
}

.navigation-logo {
  display: flex;
  align-items: center;
  position: absolute;
  width: 140px;
}

.navigation-user {
  justify-content: flex-end;

}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
  width: 42px;
  margin: 0;
}

.navigation-link {
  display: block;
  margin: auto;
  margin-right: 34px;
  font-size: 20px;
  line-height: 64px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-link-active {
  border-bottom: solid #756257 2px;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link:hover .navigation-icon {
  fill: #756157;
}

.navigation-link:focus .navigation-icon {
  fill: #756157;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.favorite-count {
  position: absolute;
  font-family: inherit;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 50%;
  top: 2px;
  right: 9px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 9px 34px;
  border-radius: 4px;
  margin-left: 10px;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #333333;
  background-color: #ffffff;
}

.banner {
  background-color: #5A8AAE;
  background-image: url("../images/background-main.jpg");
  padding: 51px 0 82px 0;
}

.banner-image {
  margin: 0 auto;
  display: block;
}

.booking-title,
.main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.booking-text,
.main-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.main-title {
  margin: 60px auto 30px;
  width: 620px;
}

.main-text {
  margin: 30px auto 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  height: 384px;
  text-align: center;
  padding: 92px 85px;
  box-sizing: border-box;
}

.advantages-image {
  display: block
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-numder {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 400;
}

.advantages-description {
  margin: 0;
}

.advantages-icon {
  margin-top: -12px;
  margin-bottom: 28px;
}

.advantages-item.blue {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item.blue-12 {
  background-color: #F0F6FA;
}

.advantages-item.blue-20 {
  background-color: #E6F0F6;
}

.advantages-title-blue-20,
.advantages-title-blue-12 {
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-numder-blue-20,
.advantages-numder-blue-12 {
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 18px;
  text-transform: uppercase;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px auto;
}

.booking-title {
  margin: 0px auto 30px;
  width: 592px;
}

.booking-text {
  margin: 0 auto 60px;
  width: 592px;
}

.booking-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 149px;
  border-radius: 4px;
}

.booking-button:hover {
  background-color: #615048;
}

.booking-button:focus {
  background-color: #615048;
}

.booking-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.subscription {
  background-color: #5A8AAE;
  background-image: url("../images/background-mountains-blur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 94px;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 0px auto 29px;
}

.subscription-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin: 0 auto 46px;
}

.subscription-form {
  display: flex;
}

.subscription-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #9B9B9B;
  border: 0px;
  border-radius: 10px 0px 0px 10px;
  height: 60px;
  width: 578px;
  padding: 0px 0px 0px 22px;
  box-sizing: border-box;
}

.subscription-field:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.subscription-field:focus {
  box-shadow: 0 0 0 3px #81B3D2,
  inset 0 0 0 3px #81B3D2;
  border: 2px solid #ffffff;
  outline: none;
}

.subscription-field:active {
  border: 2px solid #ffffff;
  outline: none;
  background-color: #756257;
}

.subscription-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
  text-transform: uppercase;
  padding: 12px 34px;
  margin: 0;
  border-radius: 0px 10px 10px 0px;
}

.subscription-button:hover {
  background-color: #68A2CA;
}

.subscription-button:focus {
  background-color: #68A2CA;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.footer-container {
  display: flex;
  width: 1056px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.social-item {
  min-width: 20px;
  min-height: 20px;
  margin-right: 12px;
  margin-left: 12px;
}

.social-icon {
  fill: #83B3D3;
}

.social-item:hover .social-icon {
  fill: #68A2CA;
}

.social-item:focus .social-icon {
  fill: #68A2CA;
}

.social-item:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-site-button {
  min-width: 115px;
  min-height: 34px;
}

.footer-site {
  fill: #000000;
}

.footer-site-button:hover .footer-site {
  fill: #756157;
}

.footer-site-button:focus .footer-site {
  fill: #756157;
}

.footer-site-button:active .footer-site {
  fill: rgba(117, 97, 87, 0.3);
}

.header-main {
  background-color: #5A8AAE;
  background-image: url("../images/background-mountains-blur-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 70px 0 70px;
  padding-top: 33px;
}

.catalog-container {
  flex-grow: 1;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 10px 70px 40px 70px;
  padding: 0;
}

.breadcrumbs-item {
margin-right: 10px;
display: flex;
align-items: center;
}

.breadcrumbs-item::after {
  background-image: url("../images/icons/arrow.svg");
  width: 5.5px;
  height: 9px;
  content: "";
  margin-left: 10px;
}

.breadcrumbs-item:last-child:after {
  background-image: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.filter {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 37px;
  padding: 0 0 45px 0;
  width: 1060px;
}

.filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-group-left,
.filter-group-right {
  display: flex;
  justify-content: space-between;
}

.filter-group-left {
  width: 366px;
}

.filter-group-right {
  width: 518px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-group.filter-buttons {
  align-items: center;
}

.filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}

.control {
  color: #ffffff;
  position: relative;
  display: block;
  margin-bottom: 16px;
  padding-left: 24px;
}

.control-mark-checkbox {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: 0px;
  border-radius: 4px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.control-mark-radio {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background-color: #ffffff;
  box-sizing: border-box;
}

.control:hover .control-mark-radio,
.control:hover .control-mark-checkbox {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus-within .control-mark-radio,
.control:focus-within .control-mark-checkbox {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid rgba(131, 179, 211, 1)
}

.control:active .control-mark-radio,
.control:active .control-mark-checkbox {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:checked + .control-mark-checkbox {
  background-image: url("../images/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"]:checked + .control-mark-radio {
  background-image: url("../images/icons/radio.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-label {
  margin-left: 16px;
}

.range-inputs-wrapper {
  display: flex;
  justify-content: center;
  margin: 8px 0 28px 0;
}

.range-input {
  box-sizing: border-box;
  width: 144px;
  height: 48px;
  padding: 0;
  padding-left: 17px;
  margin: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.range-input-left {
  border-radius: 4px 0 0 4px;
  border-right: 1px;
}

.range-input-right {
  border-radius: 0 4px 4px 0;
}

.range-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  box-shadow: 0 0 0 3px #81B3D2,
  inset 0 0 0 3px #81B3D2;
  border: 2px solid #ffffff;
  outline: none;
}

.range-input:active {
  border: 2px solid #ffffff;
  outline: none;
  background-color: #756257;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-inputs-wrapper::before {
  content: "от";
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.3);
  position: relative;
  width: 0;
  height: 21px;
  right: -112px;
  top: 12px;
}

.range-inputs-wrapper::after {
  content: "до";
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.3);
  position: relative;
  width: 0;
  height: 21px;
  right: 37px;
  top: 12px;
}

.range-scale {
  position: relative;
  height: 4px;
  width: 288px;
  margin-bottom: 32px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  width: 228px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 0px;
  border-radius: 5px;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border: solid #83B3D3 3px;
}

.range-toggle:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  border: solid #83B3D3 2px;
}

.toggle-min {
  top: -8px;
  left: 0px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.filter-main-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 34px;
  border-radius: 4px;
  margin-top: 60px;
}

.filter-main-button:hover {
  background-color: #68A2CA;
}

.filter-main-button:focus {
  background-color: #68A2CA;
}

.filter-main-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.filter-sub-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #82b2d300;
  border: none;
  text-decoration: none;
  margin-top: 20px;
  box-sizing: border-box;
  width: 100px;
}

.filter-sub-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-sub-button:focus {
  outline: solid #82B3D3 3px;
  border-radius: 4px;
}

.filter-sub-button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.products-header {
  display: flex;
  justify-content: space-between;
  width: 1057px;
  margin: 0 auto 36px auto;
  align-items: center;
}

.products-title {
width: 448px;
font-size: 30px;
line-height: 36px;
font-weight: 700;
color: #000000;
text-transform: uppercase;
}

.select-control {
  height: 48px;
  width: 287px;
  padding-left: 19px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  background-image: url("../images/icons/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  background-color: #ffffff;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #68A2CA;
}

.select-control:active {
  border-color: #3F5E72;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.select-view {
  display: flex;
  justify-content: flex-end;
}

.view-button {
  width: 48px;
  height: 48px;
  display: block;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-left: 8px;
  box-sizing: border-box;
}

.view-button:hover {
  border: 2px solid #000000;
}

.view-button:focus {
  border: 2px solid #68A2CA;
}

.view-button:active {
  border: 2px solid #000000;
}

.view-button-selected {
  border: 2px solid #000000;
}

.view-button svg {
  margin: 15px 14px;
}

.products-list {
  width: 1056px;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 0 18px;
  margin: 0 auto 66px;
  list-style-type: none;
  padding: 0px;
}

.product-card {
  width: 340px;
  padding: 19px 20px;
  box-sizing:border-box;
}

.product-card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0 0 16px 0;
}

.product-card-image {
  margin: 0 0 13px 0;
}

.product-card-text,
.product-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  width: 140px;
  margin: 0;
}

.product-card-main-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  padding: 9px 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

.product-card-main-button:hover {
  background-color: #615048;
}

.product-card-main-button:focus {
  background-color: #615048;
}

.product-card-main-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.product-card-sub-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  padding: 9px 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

.product-card-sub-button:hover {
  background-color: #68A2CA;
}

.product-card-sub-button:focus {
  background-color: #68A2CA;
}

.product-card-sub-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.product-card-sub-button-checket {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #7DB54F;
  border: none;
  border-radius: 4px;
  padding: 9px 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

.product-card-sub-button-checket:hover {
  background-color: #6C9E42;
}

.product-card-sub-button-checket:focus {
  background-color: #6C9E42;
}

.product-card-sub-button-checket:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}

.product-card-raiting {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  margin: 0;
  padding: 9px 22px;
  width: 95px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  width: 1057px;
  margin: 0 auto 119px auto;
  padding-top: 30px;
  align-items: center;
  border-top: 1px solid #e6e6e6;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  padding: 10px 0 0 0;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.pagination-link-current {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #fafafa;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  padding: 10px 0 0 0;
}

.quantity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.quantity-select-control {
  width: 160px;
  margin-left: 51px;
}

.subscription-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 87px;
}

.subscription-title-catalog {
  color: #000000;
}

.subscription-text-catalog {
  color: #333333;
}

.subscription-field-catalog {
  color: rgba(0, 0, 0, 0.6);
  background-color: #f2f2f2;
}
